body{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
  background-color: #ebebeb;
}
a{
  text-decoration: none;
}

/* GLOBALS */

.hidden{
  display: none;
}

.banner{
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
  font-weight: 200;
  text-align: center;
}

.error{
  background-color: #FF8672;
  border: 1px solid #FF5A52;
}

.info{
  margin: 2% auto;

  width: 80%;
  background-color: #79AEFF;
  border: 1px solid #49A1FF;
}

.warning{
  width: 100%;
  padding: 1%;
  box-sizing: border-box;
  font-weight: 200;
  text-align: center;
  margin: 2% auto;

  width: 80%;
  background-color: #FFEA61;
  border: 1px solid #D1C04F;
}


/* GLOBALS */

#menu{
  width: 100%;
  background-color: #0c0c0c;
  padding: 1%;
  box-sizing: border-box;
  color: white;
  text-align: center;
  font-weight: 200;

  -webkit-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
}

#menu ul{
  margin: 0;
  padding: 0;
  width: 100%;
}

#menu ul #user-coins{
  color: #FFDE82;
  font-weight: 800;
}

#menu ul div{
  display: inline-block;
}

#menu ul .bar{
  width: 30%;
}

#menu ul, #menu li{
  display:inline-block;
}

#menu li{
  margin: 0 2%;
  padding: 1%;
  box-sizing: border-box;
}

#menu li h3{
  padding: 0;
  font-weight: 200;
  margin: 0;
}


#menu a{
  color: white;
  text-decoration: none;
  display: block;
  transition-duration: 0.3s;
  position: relative;
}

#menu a:hover{
  color: #FF8D79;
}

#menu a:after{
  width: 0%;
  height: 5%;
  left: 0;
  top: 100%;
  content: "";
  background-color: #FF8D79;
  position: absolute;
  transition-duration: 0.3s;
}

#menu a:hover:after{
  animation: slide_underline 0.5s;
  width: 100%;
}

@keyframes slide_underline {
  0% { width: 0%; }
  50% { width: 20%; left: 80%;}
  80% { width: 90%; left: 10%;}
  100% { width: 100%; left: 0%;}
}




#bets{
  border-radius: 5px;
  border: 1px solid rgb(190,190,190);
  width: 95%;
  padding: 1%;
  box-sizing: border-box;
  margin: 2% auto;
  background-color: white;
}
@media screen and (min-width: 880px) {
  .bet{
    width: 31.3%;
    float:left;
    margin: 1%;
    height: 300px;
  }
}
@media screen and (max-width: 880px) {
  .bet{
    width: 100%;
    margin: 2% 0;
  }
}
.bet{

  box-sizing: border-box;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid rgb(210,210,210);
  text-align: center;
}

.bet .winner{
  color: #4396FF;
  font-weight: 800;
}

.bet span{
  display: inline-block;
  margin-top: 20%;
  font-weight: 800;
}

.bet-button{
  color: black;
  text-decoration: none;
  width: 80%;
  box-sizing: border-box;
  background-color: #eaeaea;
  padding: 4%;
  box-sizing: border-box;
  margin: auto;
  transition-duration: 0.3s;
}
.closed .bet-button:hover{
  background-color: #FF7E7D;
}

.bet-button:hover{
  background-color: #88FFA4;
}

@media screen and (min-width: 960px) {
  .closed{
    opacity: 0.5;
    transition-duration: 0.5s;
  }
}


.closed:hover{
  opacity: 1;
}

.bet img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: block;
  margin: auto;
}

.bet .team{
  width: 35%;
  text-align: center;
}




#match{
  width: 90%;
  padding: 2%;
  box-sizing: border-box;
  border: 1px solid #aeaeae;
  background-color: #dadada;
  border-radius: 5px;
  margin: 5% auto;
  z-index: -5;
}
#match .time{
  width: 100%;
  text-align: center;
}
#match .first-team, #match .second-team{
  width: 40%;
  text-align: center;
  transition-duration: 0.5s;
  position: relative;
  padding: 2%;
  box-sizing: border-box;
  z-index: 100;

}

#value{
  position: relative;
}

#value .hint{
  display: none;
  padding: 1%;
  box-sizing: border-box;
  color: black;
  background-color: #48FF5E;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  left: 25%;
  top: 10;
  position: absolute;
  -webkit-box-shadow: 0px 0px 34px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 34px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 34px -8px rgba(0,0,0,0.75);
}


#match .first-team:after, #match .second-team:after{
  transition-duration: 0.3s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;

}

#match .first-team:after{
  background: linear-gradient(to left, #dadada , transparent);
}

#match .second-team:after{
  background: linear-gradient(to right, #dadada , transparent);
}

#match .first-team:hover:after, #match .second-team:hover:after{
  background-color: #60BBFF;
}

#match .team-bet{
  cursor: pointer;
}

#match span{
  font-weight: 800;
  font-size: 160px;
  text-align: center;
  width: 20%;
  margin-top: 3%;
  float: left;
  display: block;
}
#match img{
  width: 40%;
  display: inline-block;
}

#match #value{
  width: 100%;
  text-align: center;
  padding: 2%;
  box-sizing: border-box;
}



#match #value input[type="text"]{
  padding: 1%;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  text-align: center;
  font-size: 100%;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
  transition-duration: 0.3s;
}

#match #value input[type="text"]:focus{
  outline: 0;

}
/* MATCH RESPONSIVE */
@media screen and (max-width: 980px){
  #match #value input[type="text"]{
    width: 60%;
  }

  #match #value input[type="text"]:focus{
    width: 75%;
  }

}

@media screen and (min-width: 980px){
  #match #value input[type="text"]{
    width: 15%;
  }

  #match #value input[type="text"]:focus{
    width: 25%;
  }

}
/* */

/* POP UP RESPONSIVE */

@media screen and (max-width: 980px) {
  #pop-up #border{
    width: 95%;
  }

  #pop-up #message{
    width: 95%;
  }

  #pop-up #continue{
    width: 60%;
    margin: auto;
  }
}

@media screen and (min-width: 980px) {
  #pop-up #border{
    width: 60%;
  }

  #pop-up #message{
    width: 60%;
  }

  #pop-up #continue{
    width: 20%;
  }
}

/* */


#pop-up{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.8);
}

#pop-up #handle{
  margin: 20% auto;
}

#pop-up #border{
  text-align: right;
  color: white;
  font-weight: 800;
  margin: auto;
  padding: 1%;
  background-color: #FF7250;
  box-sizing: border-box;
}

#close-pop-up{
  cursor: pointer;
  display: inline-block;
}

#pop-up #continue{
  margin-top: 3%;
  border: 2px solid black;
  background-color: white;
  padding: 1%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

#pop-up #continue:hover{
  background-color: black;
  color: white;

}

#pop-up #message{
  font-weight: 200;
  margin: auto;
  padding: 2%;
  background-color: white;
  box-sizing: border-box;
}

#login-box{
  margin: 3% auto;
  background-color: #f5f5f5;
  padding: 2%;
  box-sizing: border-box;
  text-align: center;
}

/* REGISTER/LOGIN INPUTS RESPONSIVE */

@media screen and (min-width: 980px) {
  #login-box{
    width: 70%;
  }

  #login-box input[type="text"], #login-box input[type="password"]{
    width: 70%;
    font-size: 100%;
  }

  #login-box input[type="submit"]{
    font-size: 90%;
    border: 2px solid #7BC4FF;
    width: 20%;
  }
}

@media screen and (max-width: 980px) {
  #login-box{
    width: 100%;
  }

  #login-box input[type="text"], #login-box input[type="password"]{
    width: 100%;
    font-size: 120%;
  }

  #login-box input[type="submit"]{
    font-size: 120%;
    border: 4px solid #7BC4FF;
    width: 60%;
  }
}

/* */

#login-box input[type="text"], #login-box input[type="password"]{
  display: block;
  margin: 2% auto;
  border: 2px solid transparent;
  display: inline-block;
  padding: 1%;
  box-sizing: border-box;

  font-family: 'Muli', sans-serif;
  font-weight: 200;
  display: block;
}

#login-box input[type="text"]:focus, #login-box input[type="password"]:focus{
  outline: 0;
  border: 2px solid #83C3FF;
}

#login-box input[type="submit"]{
  display: inline-block;
  margin: 2% auto;

  padding: 1%;
  box-sizing: border-box;
  text-align: center;
  color: #7BC4FF;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  /*transition-duration: 0.3s;*/
}

#login-box input[type="submit"]:hover{
  background-color: #7BC4FF;
  color: white;
}
